<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-xs-12">
      <h3>Faça sua simulação:</h3>

      <%= simple_form_for @client, url: clients_path do |f| %>

        <%= f.input :name, placeholder: 'Nome', label: false %>
        <%= f.input :email, placeholder: 'Email', label: false %>
        <%= f.input :company_name, placeholder: 'Nome da empresa', label: false %>
        <%= f.input :monthly_revenue, as: :currency, currency: "R$", placeholder: 'Faturamento mensal aproximado', label: false, error: "Por favor, insira seu faturamento mensal médio"  %>

        <%= f.input :asset_value, as: :currency, currency: "R$", placeholder: 'Valor do título', label: false, error: "O valor do título deve ser acima de R$ 500,00" %>
        <%= f.input :due_date, as: :date, order: [:day, :month, :year],
          label: "Vencimento do Título (Prazo mínimo de 10 dias)", placeholder: "Vencimento do título" %>

        <%= f.button :submit, 'Simular', class: "btn btn-primary btn-block" %>
      <% end %>

  </div>
</div>
